<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat">

<header>
	<ul class="head-links">
		<li>Railspot™</li>
	</ul>
</header>

<body>
	<div class="main-container">
	    <img src="assets/images/railspot-logo.png" alt="Railspot" class="logo">

        <h1 class="description">Train tickets and routes on the go</h1>
	</div>

	<div class="gray-container">
	</div>
  <app-route-map></app-route-map>
  <app-purchase-window></app-purchase-window>
</body>

<footer>
	<a href="#" class="terms">Terms of Service</a>
	<a href="#" class="privacy">Privacy Policy</a>
</footer>
