<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat">

<header>
	<ul class="head-links">
		<li><a href="#">Administrators</a></li>
	</ul>
</header>

<body>
	<div class="main-container">
	    <img src="assets/image  s/railspot-logo.png" alt="Railspot" class="logo">

        <h1 class="description">Train tickets and routes on the go</h1>
	</div>

	<div class="gray-container">
	</div>
  <app-route-map></app-route-map>
  <purchase-window></purchase-window>
</body>

<footer>
	<ul class="footer-links">
		<li><a href="#">Terms of Service</a></li>
		<li><a href="#">Privacy Police</a></li>
	</ul>
</footer>
