html {
    min-height: 100vh;
}

header {
    min-height: 10vh;
}

body {
    min-height: 80vh;
    font-family: "Montserrat", sans-serif;
    background-color: plum;
}

footer {
    min-height: 10vh;
}

header, footer {
    font-family: "Montserrat", sans-serif;
    font-size: large;
    color: white;
    background-color: #121113;
}

header a {
    text-decoration: none;
    margin-right: 10px;
    float: right;
}

header a:hover, footer a:hover {
    background-color: #47434C;
}

header a:visited, footer a:visited {
    color: white;
}

ul {
    list-style-type: none;
}

.main-container {
    background-color: cornflowerblue;
}