<body>
	<div class="container">
	    <header>
		    <nav>
			    <a href="#">Administrators</a>
		    </nav>
	    </header>

	    <section>
		    <img src="assets/images/railspot-logo.png" alt="Railspot" class="logo">

	        <h1 class="header">
		        Train tickets and routes on the go
	        </h1>
	    </section>
	</div>

	<div class="gray-container">
		<div class="container">
			<a href="#" class="buy-button">Buy tickets</a>
		</div>
	</div>

	<footer>
		<div class="container">
			<ul class="footer-links">
				<li><a href="#">Terms of Service</a></li>
				<li><a href="#">Privacy Police</a></li>
			</ul>
		</div>
	</footer>
</body>